

body {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    font: normal 16px/1.5 "Helvetica Neue", sans-serif;
  }
  .h1
{
  color: #144c2b;
}
  
  .structural {
    margin: 10px;
    padding: 10px;
    color: #025324;
    background-color: hsl(145, 33%, 56%);
  }

    
    
  h1 {
    color: #05522a;
    font-size: 36px;
  }
  
  h2 {
    color: #15ad5f;
    font-size: 24px;
  }
  
  main {
    height: 70vh;
  }
  
  img {
    border: 1px solid #333;
    width: 90%;
    height: 80%;
  }
  
  figure {
    background-color: #f2f2f2;
    width: 45%;
    height: 60%;
    margin: auto;
    padding: 10px;
  }
  
  #dog1 {
    margin: 10px;
    padding: 10px;
    background-color: #a2e1bc;
    float: left;
  }
  
  #dog2 {
    margin: 10px;
    padding: 10px;
    background-color: #a2e1bc;
    float: right;
  }
  
  section {
    clear: both;
  }
  
  figcaption {
    color: #043614;
    font-weight: bold;
    font-size: 18px;
    padding: 5px;
  }
  
  a {
    color: #065828;
  }
  
  a:hover {
    color: #06f92b;
  }
  
  ul {
    list-style: square;
    line-height: 1.5;
    }
  
  footer {
    color: #065828;
    background-color: #0b843e;
  }